
.ui-draggable {
    width: 250px;
}

#makeMeDraggable.ui-draggable-dragging {
    width: 250px;
    background: green;
}

#makeMeDroppable {
    float: left;
    width: 200px;
    height: 250px;
    solid #999;
}

#draggableHelper {
    width: 100px;
    height: 100px;
    background: yellow;
}

.brand {
  width: 200px ;
  margin-left: auto ;
  margin-right: auto ;
}

