@(title: Html, nav: String = "")(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Clay & Twill - makeup and clothing for professionals</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/ui-lightness/jquery-ui-1.8.16.custom.css")"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/jQuery.iPicture.css")"/>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jQuery.iPicture.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.masonry.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/modernizr-2.5.3.min.js")"></script>

<script>
jQuery(document).ready(function(){

$('#container').masonry({
    columnWidth: 320,
    itemSelector: '.item',
    isFitWidth: true,
    isAnimated: !Modernizr.csstransitions
  }).imagesLoaded(function() {
    $(this).masonry('reload');
  });

}); // end of ready

</script>

    </head>
    <body>
        
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="@routes.Application.index()">Clay & Twill</a>
                    <ul class="nav">
                        <li class="@("active".when(nav == "signup"))">
                        <a href="@routes.Blog.index">Blog</a>
                        </li>
                        <li class="@("active".when(nav == "contact"))">
                        <a href="@routes.Contacts.form">Contacts</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="container" class="container clearfix" style="margin-top: 100px;">

            <div class="item">
                <img src="http://media-cache-ak0.pinimg.com/736x/69/18/42/691842610809f0cb8280ff1f23c6cd0c.jpg" alt="" />
            </div>

            <div class="item">
                <img src="http://media-cache-ec0.pinimg.com/736x/a0/fc/47/a0fc47eee44b78ec6893bdf123e58cd9.jpg" alt="" />
            </div>

            <div class="item">
                <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR3wAYWh_w-bfATsVxviquSLehQ_mnZGVkLQRQiJ3JuelBHUN0T" alt="" />
            </div>

            <div class="item featured">
                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTCsB2HVfJRlAVT52DcRFh_Ik1AzDhFM4u9aCgBrBeZWwoypbKbVw" alt="" />
            </div>

            <div class="item">
                <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTuoGvvfL7nE1fwyAP5_BWqDWwjZMC__UpwC_H2o4_wxqGgQWADqw" alt="" />
            </div>

            <div class="item featured">
                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQneeyHU4QtHjl-U535DC5dUZ4Y_R8zxbWizhMUV9WKFCvLhK9zig" alt="" />
            </div>

            <div class="item">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpD7Q2YeGaTBPFIwVlYMz74VRZqI8C7waUYponUWdX-QY73CZ_" alt="" />
            </div>

            <div class="item">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRX9mS7xZ2asfZEXtyGB79ac9CpdncmQTykMGqW6VU8MK6yLsUwZA" alt="" />
            </div>

            <div class="item">
                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQjxczwNINnM3wi0NnKEqtBaVnkj0mGOyFJnhErYUehYqleOBKsWg" alt="" />
            </div>

            <div class="item">
                <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSA_KbU9_dZJgUi5sqpE_N11ii7PhbN3gUtCp9XKMYUNbM0Lf7U" alt="" />
            </div>

            <div class="item">
                <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQheqPQyiym5_41VMYuQ91aqrcpgLJt9pBQ72iWZmO_bkqKySeO" alt="" />
            </div>

            <div class="item">
                <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQwCD-SO9EOx5aYNBFy8wLWwfjpFwhf-z5poWL1hRDWIZZIGTXLQw" alt="" />
            </div>

        </div>

    </body>
</html>
