@(title: Html, nav: String = "")(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Clay & Twill - makeup and clothing for professionals</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/ui-lightness/jquery-ui-1.8.16.custom.css")"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/jQuery.iPicture.css")"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.5.0.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-ui-1.8.9.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jQuery.iPicture.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.masonry.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/modernizr-2.5.3.min.js")"></script>

<script>
jQuery(document).ready(function(){

$('#container').masonry({
    columnWidth: 320,
    itemSelector: '.item',
    isFitWidth: true,
    isAnimated: !Modernizr.csstransitions
  }).imagesLoaded(function() {
    $(this).masonry('reload');
  });

}); // end of ready

</script>

    </head>
    <body>
        
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="@routes.Application.index()">Clay & Twill</a>
                    <ul class="nav">
                        <li class="@("active".when(nav == "signup"))">
                        <a href="@routes.Blog.index">Browse</a>
                        </li>
                        <li class="@("active".when(nav == "signup"))">
                        <a href="@routes.Blog.index">Blog</a>
                        </li>
                        <li class="@("active".when(nav == "contact"))">
                        <a href="@routes.Contacts.form">Contacts</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="container" class="container clearfix" style="margin-top: 100px;">

            <div class="item">
                <a href="/blog">
                  <img src="@routes.Assets.at("images/tile1.jpg")" alt="" >
                  <p class="example-title"> &sect; AA Design </p>
                </a>
            </div>

            <div class="item">
		<a href="/blog">
                  <img src="@routes.Assets.at("images/tile2.jpg")" alt="" >
                  <p class="example-title"> &sect; AA Design </p>
                </a>

            </div>

            <div class="item">
                <a href="/blog">
                  <img src="@routes.Assets.at("images/tile3.jpg")" alt="" >
                  <p class="example-title"> &sect; AA Design </p>
                </a>
            </div>

            <div class="item">
                <a href="/blog">
                  <img src="@routes.Assets.at("images/tile4.jpg")" alt="" >
                  <p class="example-title"> &sect; AA Design </p>
                </a>
            </div>

            <div class="item">
                <a href="/blog">
                  <img src="@routes.Assets.at("images/tile5.jpg")" alt="" >
                  <p class="example-title"> &sect; AA Design </p>
                </a>
            </div>

            <div class="item">
                <a href="/blog">
                <img src="@routes.Assets.at("images/tile6.jpg")" alt="" >
                <p class="example-title"> &sect; AA Design </p>
                </a>
            </div>

            <div class="item">
                <a href="/blog">
                <img src="@routes.Assets.at("images/tile7.jpg")" alt="" >
                <p class="example-title"> &sect; AA Design </p>
                </a>
            </div>

            <div class="item">
                <a href="/blog">
                <img src="@routes.Assets.at("images/tile8.jpg")" alt="" >
                <p class="example-title"> &sect; AA Design </p>
                </a>
            </div>

            <div class="item">
                <a href="/blog">
                <img src="@routes.Assets.at("images/tile9.jpg")" alt="" >
                <p class="example-title"> &sect; AA Design </p>
                </a>
            </div>

            <div class="item">
                <a href="/blog">
                <img src="@routes.Assets.at("images/tile10.jpg")" alt="" >
                <p class="example-title"> &sect; AA Design </p>
                </a>
            </div>

            <div class="item">
                <a href="/blog">
                <img src="@routes.Assets.at("images/tile11.jpg")" alt="" >
                <p class="example-title"> &sect; AA Design </p>
                </a>
            </div>

            <div class="item">
                <a href="/blog">
                <img src="@routes.Assets.at("images/tile12.jpg")" alt="" >
                <p class="example-title"> &sect; AA Design </p>
                </a>
            </div>

        </div>

    </body>
</html>
